<% allow_birchbox %>
<% content_for(:title) { "Another dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="OHi" data-text="This is another dashboard." data-moreinfo="Is this working?"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" data-title="TIL" ></div>
    </li>
  </ul>
</div>
